{% extends 'base.html.twig' %}

{% block title %}OMG - OpenMapGenerator - {% trans %}menu.resetPasswordDescription{% endtrans %}{% endblock %}

{% block body %}

<h1>{% trans %}menu.resetPasswordDescription{% endtrans %}</h1>

<div class="formDiv">

{{ form_start(form) }}

{{ form_widget(form.newPassword) }}
{{ form_errors(form.newPassword) }}

<div class="formButtons">
    {{ form_row(form.save) }}
</div>

{{ form_end(form) }}

</div>

{% endblock %}
