{% extends 'base.html.twig' %}

{% block title %}OMG - OpenMapGenerator - Administration - Locations{% endblock %}

{% block body %}
<h1>Administration - Locations</h1>
<style>MAIN { width: 100% !important; }</style>
<table class="fullwidth oddEven highlightRow" style="font-size: 80%;">
  <thead>
    <tr>
      <th class="withRightBorder">Id</th>
      <th class="withRightBorder">User</th>
      <th class="withRightBorder">Map</th>
      <th class="withRightBorder">Name</th>
      <th class="withRightBorder">Description</th>
      <th class="withRightBorder">link</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
{% for location in locations %}
    <tr>
      <td class="withRightBorder">{{ location.id }}</td>
      <td class="withRightBorder"><a href="{{ path('admin.user', {'id': location.map.user.id}) }}">{{ location.map.user.name }}</a></td>
      <td class="withRightBorder"><a href="{{ path('admin.map', {'id': location.map.id}) }}">{{ location.map.name }}</a></td>
      <td class="withRightBorder"><a href="{{ path('admin.location', {'id': location.id}) }}">{{ location.name }}</a></td>
      <td class="withRightBorder">{{ location.description }}</td>
      <td class="withRightBorder"><a href="{{ location.link }}" target="_blank">{{ location.link }}</a></td>
      <td class="nowrap">{% if location.updatedAt %}{{ location.updatedAt | date('Y-m-d H-i-s') }}{% endif %}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
<div class="navigation">{{ knp_pagination_render(locations) }}</div>

{% endblock %}
